<div class="container">
  {{#if allProducts}}
    <h1>All Products</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Products</li>
      </ol>
    </nav>
  {{/if}}
  {{#if acousticGuitars}}
    <h1>Acoustic Guitars</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Acoustic Guitars</li>
      </ol>
    </nav>
  {{/if}}
  {{#if electricGuitars}}
    <h1>Electric Guitars</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Electric Guitars</li>
      </ol>
    </nav>
  {{/if}}
  {{#if bassGuitars}}
    <h1>Bass Guitars</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bass Guitars</li>
      </ol>
    </nav>
  {{/if}}
  {{#if pedals}}
    <h1>Pedals</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pedals</li>
      </ol>
    </nav>
  {{/if}}
  {{#if amplifiers}}
    <h1>Amps</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Amps</li>
      </ol>
    </nav>
  {{/if}}

  <div class="productsDisplay">

    {{#each allProducts}}

      <div class="card shadow-lg p-3 mb-2 bg-body-tertiary rounded" style="width: 18rem;">
        <a href="/products/{{_id}}"><img
            src="{{images.first}}"
            class="img-thumbnail mx-auto d-block "
            alt="{{productName}}"
          /></a>
        <div class="card-body">
          <a href="/products/{{_id}}"><h5
              class="card-title"
            >{{productName}}</h5></a>
          <p class="card-text">£{{price}}</p>
          <div class="buttonProducts">
            <form method="POST" action="/profile/add-to-favourites/{{_id}}">
              <button class="btn btn-success" type="submit">add to favourites</button>
            </form>

          </div>
        </div>
      </div>

    {{/each}}

    {{#each acousticGuitars}}
      <div class="card shadow-lg p-3 mb-2 bg-body-tertiary rounded" style="width: 18rem;">
        <a href="/products/{{_id}}"><img
            src="{{images.first}}"
            class="img-thumbnail mx-auto d-block"
            alt="{{productName}}"
          /></a>
        <div class="card-body">
          <a href="/products/{{_id}}"><h5
              class="card-title"
            >{{productName}}</h5></a>
          <p class="card-text">£{{price}}</p>
          <div class="buttonProducts">
            <form method="POST" action="/profile/add-to-favourites/{{_id}}">
              <button class="btn btn-success" type="submit">add to favourites</button>
            </form>
          </div>
        </div>
      </div>

    {{/each}}

    {{#each electricGuitars}}
      <div class="card shadow-lg p-3 mb-2 bg-body-tertiary rounded" style="width: 18rem;">
        <a href="/products/{{_id}}"><img
            src="{{images.first}}"
            class="img-thumbnail mx-auto d-block"
            alt="{{productName}}"
          /></a>
        <div class="card-body">
          <a href="/products/{{_id}}"><h5
              class="card-title"
            >{{productName}}</h5></a>
          <p class="card-text">£{{price}}</p>
                    <div class="buttonProducts">
            <form method="POST" action="/profile/add-to-favourites/{{_id}}">
              <button class="btn btn-success" type="submit">add to favourites</button>
            </form>
          </div>
        </div>
      </div>

    {{/each}}

    {{#each bassGuitars}}
      <div class="card shadow-lg p-3 mb-2 bg-body-tertiary rounded" style="width: 18rem;">
        <a href="/products/{{_id}}"><img
            src="{{images.first}}"
            class="img-thumbnail mx-auto d-block"
            alt="{{productName}}"
          /></a>
        <div class="card-body">
          <a href="/products/{{_id}}"><h5
              class="card-title"
            >{{productName}}</h5></a>
          <p class="card-text">£{{price}}</p>
          <div class="buttonProducts">
            <form method="POST" action="/profile/add-to-favourites/{{_id}}">
              <button class="btn btn-success" type="submit">add to favourites</button>
            </form>
          </div>
        </div>
      </div>

    {{/each}}

    {{#each pedals}}
      <div class="card shadow-lg p-3 mb-2 bg-body-tertiary rounded" style="width: 18rem;">
        <a href="/products/{{_id}}"><img
            src="{{images.first}}"
            class="img-thumbnail mx-auto d-block"
            alt="{{productName}}"
          /></a>
        <div class="card-body">
          <a href="/products/{{_id}}"><h5
              class="card-title"
            >{{productName}}</h5></a>
          <p class="card-text">£{{price}}</p>
          <div class="buttonProducts">
            <form method="POST" action="/profile/add-to-favourites/{{_id}}">
              <button class="btn btn-success" type="submit">add to favourites</button>
            </form>
          </div>
        </div>
      </div>

    {{/each}}

    {{#each amplifiers}}
      <div class="card shadow-lg p-3 mb-2 bg-body-tertiary rounded" style="width: 18rem;">
        <a href="/products/{{_id}}"><img
            src="{{images.first}}"
            class="img-thumbnail mx-auto d-block"
            alt="{{productName}}"
          /></a>
        <div class="card-body">
          <a href="/products/{{_id}}"><h5
              class="card-title"
            >{{productName}}</h5></a>
          <p class="card-text">£{{price}}</p>
          <div class="buttonProducts">
            <form method="POST" action="/profile/add-to-favourites/{{_id}}">
              <button class="btn btn-success" type="submit">add to favourites</button>

            </form>

          </div>
        </div>
      </div>

    {{/each}}

  </div>
</div>